# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/

# Swift Package Manager
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.swp
*.lock
.DS_Store

